.profile_container {
  padding: 32px;
  font-family: "Poppins", sans-serif;
  color: #2e2e2e;
  
}

.profile_header h2 {
  margin-bottom: 6px;
  font-weight: 600;
}

.profile_header {
  margin-bottom: 80px;
  margin-left: -20px;
  margin-top: 0%;
}

.profile_card {
  background-color: #f4f4f4;
  border-radius: 12px;
  padding: 24px;
  margin-top: 24px;
}

.profile_image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 16px;
}

.profile_details {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}

.profile_column label {
  font-weight: 500;
  font-size: 14px;
  margin-top: 12px;
  display: block;
  color: #5e5e5e;
}

.profile_column  {
  margin: 4px 0 12px;
  font-size: 15px;
  font-weight: 400;
  
}


.edit_button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #83c727;
  color: white;
  border: none;
  border-radius: 10px;
  height:32px;
  width: 124px;
  cursor: pointer;

}

.profile_footer {
  margin-top: 28px;
  font-size: 14px;
  color: #666;
}
.profile_column input{
  width: 500px;
  height: 33px; 
  border: 1 px #F9F9F9 ;
  border-radius: 5px;
  border: none;

}
.imgBtn{
  display: flex;
gap: 52em;
}
.back{
  background-color: white;
  color: #83c727;
  border: 1px white;
  border: none;
  margin-top:20px;
  gap: 1em;
  margin-left: 30px;
}
.back img{
  width: 18px;
  height: 8px;
}
.adress{
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0;
  margin-bottom:20px;

} 
.active{
  margin-bottom: 5px;
    margin-left: 30px;
}
.checkbox{
  background-color: #83c727;
}
.borders{
  width: 1100px;
height: 81px;
opacity: 1;
top: 135px;
left: 104px;
border-top-left-radius: 21px;
border-top-right-radius: 21px;
background: linear-gradient(90deg, rgba(131, 199, 39, 0.77) 0%, rgba(170, 255, 56, 0.32) 100%);


}